/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
} */

:root {
  --bg-color: rgb(20, 20, 20);
  --card-color: rgb(23, 23, 23);
  --mouse-x: 0px;
  --mouse-y: 0px;
}

body {
  background-color: var(--bg-color);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  gap: 8px;
  width: calc(100% - 20px);
  margin-top: 10px;
}

#cards:hover > .card > .card-border {
  opacity: 1;
}

.card {
  position: relative;
  height: 260px;
  width: 300px;
  /* background-color: var(--card-color); */
  background: rgba(255, 255, 255, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.1); */
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card:hover::before,
.card:hover > .card-border {
  opacity: 1;
}

.card::before,
.card > .card-border {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: opacity 0.5s;
  border-radius: inherit;
  z-index: 2;
  opacity: 0;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card > .card-border {
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.719),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background: var(--bg-color);
  border-radius: inherit;
  margin: 1px;
  position: relative;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  z-index: 2;
}
