:root {
  --body-bg: rgb(20, 20, 20);
  --card-bg: rgb(23, 23, 23);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: var(--body-bg);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.card {
  width: 100%;
  max-width: 345px;
  min-width: 180px;
  height: 280px;
  background-color: var(--card-bg);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(
    800px circle at var(--x) var(--y),
    rgba(255, 255, 255, 0.11) 0%,
    transparent 40%
  );
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 100%;
  border-radius: inherit;
  padding: 10px;
}

.card::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  /* background: rgba(177, 37, 37, 0.589); */
  width: 100%;
  height: 100%;
  border-radius: inherit;
  /* margin: 2px; */
}